<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notice Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>
<h1>Notice Board</h1>
<br>
<div>
    <form method="get" th:action="@{/login}" th:object="${credentialsObject}">
        <p>
            Enter credentials:
        </p>
        <input type="text" id="username" th:field="*{userName}" class="form-control mb-4" placeholder="Username">
        <input type="text" id="password" th:field="*{passWord}" class="form-control mb-4" placeholder="Password">

        <button class="btn btn-info btn-block" style="background-color: #4CAF50" type="submit">Log In</button>
    </form>
</div>
<br>

<!-- Presenting all notices -->
<div>
    <table style="font-family: 'Trebuchet MS',Arial,sans-serif" width="75%">

        <tr th:each="notice : ${allnotices}" style="list-style-type: none">
            <td th:text="${notice.id}" style="border: 1px solid #ddd"></td>
            <td th:text="${notice.content}" style="border: 1px solid #ddd"></td>
            <td th:text="${notice.date}" style="border: 1px solid #ddd"></td>
<!--            <td><a class="btn btn-warning" th:href="'/editpost/' + ${diarys.id}" role="button">Edit</a></td>-->
<!--            <td><a class="btn btn-warning" th:href="'/deletepost/' + ${diarys.id}" role="button">Delete</a></td>-->
        </tr>
    </table>
</div>


<script type="application/javascript">
    function logIn() {
        location.href = "/login";
    }

    function createAccount() {
        location.href = "/newuser";
    }
</script>

</body>
</html>