<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notice Board (logged in)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>

<div>
    <h1>Notice Board (logged in)</h1>
<!--    <button type="button" onclick="logOut()" value="New post" class="btn btn-success">Log Out</button>-->
</div>
<br>
<div>
    <table style="font-family: 'Trebuchet MS',Arial,sans-serif" width="75%">

        <tr th:each="notice : ${allnotices}" style="list-style-type: none">
            <td th:text="${notice.id}" style="border: 1px solid #ddd"></td>
            <td th:text="${notice.content}" style="border: 1px solid #ddd"></td>
            <td th:text="${notice.date}" style="border: 1px solid #ddd"></td>
            <td><a class="btn btn-warning" th:href="'/editnotice/' + ${notice.id}" role="button">Edit</a></td>
            <td><a class="btn btn-warning" th:href="'/deletenotice/' + ${notice.id}" role="button">Delete</a></td>
        </tr>
    </table>
</div>


<script type="application/javascript">
    function logOut() {
        // osäker på hur logour kommer funka pga cookies
        // location.href = "/login";
    }
</script>

</body>
</html>